# port and node enviornment
PORT=8080
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# database url (neon)
DATABASE_URL=postgresql://<db_user>:<db_password>@<neon_host>/<db_name>?sslmode=require&channel_binding=require

# redis url, secret, and port
UPSTASH_REDIS_URL=rediss://default:<upstash_password>@<upstash_host>:<upstash_port>

# tavily api key
TAVILY_API_KEY=<your_tavily_api_key>

# gemini api key
GEMINI_API_KEY=<your_gemini_api_key>

# buffer api key
BUFFER_ACCESS_TOKEN=<your_buffer_access_token>
BUFFER_CHANNEL_ID=<your_buffer_channel_id>
